
services:

  database:
    container_name: database
    build:
      context: ./database
      dockerfile: Dockerfile
    environment:
      POSTGRES_DB: database
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - ./01_Chinook_PostgreSql.sql:/docker-entrypoint-initdb.d/01_Chinook_PostgreSql.sql
      - ./02_multiple_users.sql:/docker-entrypoint-initdb.d/02_multiple_users.sql


  api:
    container_name: api
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgresql+asyncpg://user:password@database:5432/database
    ports:
      - "8000:8000"
    restart: unless-stopped

  app:
    container_name: app
    build:
      context: ./app
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL:-http://localhost:8000}
    ports:
      - "3002:80"
    restart: unless-stopped
